/autom4te.cache
/src/.deps
/src/Makefile
/src/config.h
/src/grab
/src/readbest
/src/readgrab
/src/readrun
/src/readspheric
/src/run
/src/sphere
/src/ssga
/src/stamp-h1
/src/visual
/support/Makefile
/support/creatures-config
/libtool
/config.status
/config.log
/Makefile
/src/runalps
